/* @font-face */

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
:root {
  --color-primary: #4f79ff;
  --color-secondary: #f1f2f7;
  --color-title: #070827;
  --color-text: #888db3;
  --color-border: #d9d7e2;
  --color-white: #fff;
  --color-black: #000;
  --color-line: #b774f6;
  --color-bg: #f6f5fa;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  width: calc(100% - 12rem) !important;
  background-image: linear-gradient(
    to bottom,
    #5078fe,
    #6e8cff,
    #88a0ff,
    #a1b4ff,
    #bac8ff,
    #c5d1ff,
    #d0d9fe,
    #dbe2fe,
    #dbe2fe,
    #dbe2fe,
    #dbe2fe,
    #dbe2fe
  );
  display: flex;
  align-items: center;
  padding: 6rem;
  overflow: hidden;
}
.container {
  max-width: 102rem;
  margin: 0 auto;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* ---------------end basic-------------- */
.siderbar {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 1px solid var(--color-border);
  box-sizing: border-box;
}
.siderbar__title {
  border-bottom: 1px solid var(--color-border);
  font-size: 1.8rem;
  color: var(--color-text);
  padding: 2rem 0;
  text-align: center;
}
.account {
  padding: 2rem;
  border-bottom: 1px solid var(--color-border);
  text-align: center;
}
.account__avatar-box {
  width: 6.4rem;
  border-radius: 50%;
  margin: 0 auto;
}
.account__avatar {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}
.account___name {
  font-size: 1.8rem;
  color: var(--color-title);
  padding: 0.5rem 0;
}
.account__email {
  font-size: 1.4rem;
  color: var(--color-text);
}
.account__contact {
  padding: 1.6rem;
  text-align: center;
}
.account__item {
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 32px;
  background-color: var(--color-border);
  border-radius: 50%;
  position: relative;
  transition: all 0.4s linear;
}
.account__item:hover {
  opacity: 0.4;
}

.account__item + .account__item {
  margin-left: 1rem;
}
.account__item i {
  color: var(--color-primary);
  font-size: 1.6rem;
}
.account__item > i ~ span {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  top: -10px;
  right: -11px;
  color: #fff;
  background: red;
  font-size: 1.2rem;
}
.account__progress {
  width: 100%;
}
progress {
  width: 100%;
}
.task__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.task__item {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-title);
}
.task__item span {
  display: block;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--color-text);
  margin-top: 1rem;
}
.project {
  padding: 2rem 2.5rem;
}
.form-check {
  display: flex;
  flex-direction: column;
}
.form-check__label {
  padding: 0.5rem 0;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: var(--color-text);
  cursor: pointer;
  transition: all 0.5s linear;
}
.form-check__label:hover {
  color: var(--color-primary);
}
.form-check__input {
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  position: relative;
  vertical-align: middle;
  margin-right: 0.5rem;
  cursor: pointer;
}
.form-check__label:nth-child(1) > .form-check__input {
  border-color: #9b59b6;
}
.form-check__label:nth-child(2) > .form-check__input {
  border-color: #e74c3c;
}
.form-check__label:nth-child(3) > .form-check__input {
  border-color: #2ecc71;
}

.form-check__label:nth-child(1) > .form-check__input:after {
  background-color: #9b59b6;
}
.form-check__label:nth-child(2) > .form-check__input:after {
  background-color: #e74c3c;
}
.form-check__label:nth-child(3) > .form-check__input:after {
  background-color: #2ecc71;
}
.form-check__label:hover .form-check__input:after {
  opacity: 1;
}
.form-check__input:checked:after {
  opacity: 1;
}
.form-check__input:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: var(--color-primary);
  border-radius: 50%;
  opacity: 0;
}
.team {
  padding: 1rem 2rem;
}
.team__title,
.project__title {
  font-size: 1.8rem;
  color: var(--color-title);
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
.team__list {
  list-style: none;
}
.team__item {
  display: inline-block;
}
.team__item + .team__item {
  margin-left: 1rem;
}
.team__link {
  display: inline-block;
  max-width: 3rem;
  max-height: 3rem;
}
.team__img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}
/* ----------------------------------end siderbar------------------------ */
/* ----------------------------------start content------------------------ */

.content {
  flex: 3;
}
/* ----------------------------------start header------------------------ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  border-bottom: 1px solid var(--color-border);
}
.search,
.menu {
  flex: 3;
}
.task {
  flex: 1;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.search-form__btn {
  background-color: transparent;
  color: var(--color-text);
  font-size: 1.6rem;
  border: 0;
  outline: none;
}
.search-form__input::placeholder {
  color: var(--color-text);
}
.search-form__input {
  outline: none;
  border: none;
  padding: 1rem;
  color: var(--color-text);
  font-size: 1.6rem;
}

.menu-icon i {
  font-size: 2.4rem;
  color: var(--color-text);
}
/* ----------------------------------end header------------------------ */

/* ----------------------------------start doing------------------------ */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.doing {
  flex: 2;
  border-right: 1px solid var(--color-border);
}
.doing__header {
  padding: 2rem 1.5rem;
  border-left: 3px solid var(--color-line);
  border-bottom: 1px solid var(--color-border);
}
.select {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 0 1em 0 0;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.doing__select {
  position: relative;
}
.doing__select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 8px;
  background-color: var(--color-black);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.doing__content {
  background-image: linear-gradient(
    to bottom,
    #f1f2f7,
    #f5f5f9,
    #f8f8fa,
    #fbfbfc,
    #fefefe
  );
  background-repeat: no-repeat;
}
.doing__list {
  list-style: none;
  max-height: 46.5rem;
  min-height: 46.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.doing__item {
  cursor: pointer;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  transition: all 0.3s linear;
}
.doing__item:last-child {
  border-bottom: 0;
}
.doing__link {
  display: inline-block;
}
.doing__item:hover {
  background-color: var(--color-white);
  padding: 1.8rem 1.5rem;
  z-index: 9999;
  box-shadow: 0 20px 30px 0px rgba(79, 121, 255, 0.7);
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  z-index: 1;
}
.doing__item:hover .doing__icon {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.doing__icon,
.complete__card-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid var(--color-border);
  line-height: 3rem;
  text-align: center;
  margin-right: 1rem;
}
.doing__icon i {
  font-size: 1.4rem;
}
.doing__text {
  flex: 1;
}
.doing__title {
  font-size: 1.4rem;
  color: #474a54;
  margin-bottom: 0.4rem;
}
.doing__time {
  color: var(--color-text);
  font-size: 1.2rem;
}
.doing__img-box {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.doing__img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}
.doing__footer {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 1px solid var(--color-border);
}
.doing__btn {
  outline: none;
  border-radius: 2.5rem;
  border: none;
  padding: 1.2rem 2.8rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.doing__btn:hover {
  opacity: 0.5;
}
/* ----------------------------------end doing------------------------ */
/* ----------------------------------start complete------------------------ */
.complete {
  flex: 3;
}
.complete__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  padding: 1rem 1.5rem;
}
.complete__avatar {
  display: flex;
  align-items: center;
  flex: 1;
}
.complete__img {
  width: 3rem;
  height: 3rem;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}
.complete__name {
  font-size: 1.4rem;
  color: var(--color-title);
  margin-left: 1rem;
  font-weight: 500;
}
.complete__list {
  display: flex;
  align-items: center;
  list-style: none;
  flex: 1;
}
.complete__item {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--color-secondary);
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 3.5rem;
  transition: all 0.5s linear;
}
.complete__item:hover {
  background-color: var(--color-text);
}
.complete__item:hover .complete__link {
  color: var(--color-white);
}
.complete__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--color-primary);
}
.complete__item + .complete__item {
  margin-left: 1rem;
}
.complete__footer {
  background-color: var(--color-bg);
  height: 73px;
}
.form {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-border);
}
.form__input {
  flex: 1;
  border: 0;
  outline: 0;
  padding: 1.5rem;
  background-color: transparent;
}
.form__file-box,
.form__btn {
  width: 6.3rem;
}
.form__file-box {
  text-align: center;
  border-left: 1px solid var(--color-border);
  height: 73px;
  line-height: 73px;
}
.form__file-box label i {
  font-size: 1.6rem;
  color: var(--color-text);
  text-align: center;
}
.form__btn {
  background-color: var(--color-primary);
  outline: none;
  border: none;
  padding: 1.5rem;
  height: 73px;
}
.form__btn > i {
  color: var(--color-white);
}
.complete__content {
  max-height: 46.5rem;
  min-height: 46.5rem;
  overflow-y: scroll;
}
.complete__card {
  padding: 1rem;
}
.complete__card-item {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  padding: 1rem 0;
}
.complete__card-icon {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.complete__card-text {
  flex: 1;
}
.complete__card-title {
  font-size: 1.6rem;
}
.complete__card-time {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--color-text);
  padding: 0.5rem 0 1.5rem;
}
.complete__card-time i {
  margin-right: 1rem;
}
.complete__card-content {
  font-size: 1.3rem;
  line-height: 1.6;
}
/* ----------------------------------end complete------------------------ */
/* ----------------------------------end content------------------------ */
/* ----------------------------------start popup------------------------ */
#popup {
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
  visibility: hidden;
  box-sizing: border-box;
  border-radius: 1rem;
}

#popup.active {
  top: 50%;
  visibility: visible;
}
.popup {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.popup__header {
  background-image: linear-gradient(
    to bottom,
    #f3f3f9,
    #f0f0f8,
    #ecedf7,
    #e8ebf7,
    #e4e8f6,
    #e2e7f6,
    #e1e6f5,
    #dfe5f5,
    #e0e5f5,
    #e0e6f6,
    #e1e6f6,
    #e1e6f6
  );
  padding: 3rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.popup__title {
  color: var(--color-text);
  font-size: 2rem;
}
.popup__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  width: 100%;
  box-sizing: border-box;
}
.popup__left,
.popup__right {
  flex-basis: 45%;
}
.popup__label {
  display: block;
  font-size: 1.6rem;
  color: var(--color-text);
  margin: 1.5rem 0;
}
.popup__input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  box-shadow: none;
  outline: none;
  color: var(--color-text);
}
.popup__input::placeholder {
  color: var(--color-text);
}
.btn--add {
  border-radius: 0;
  text-transform: uppercase;
}
.popup__select {
  border: 1px solid var(--color-border);
  padding: 1rem;
}
.popup__select.doing__select::after {
  right: 10px;
}
.popup__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.popup__close i {
  font-size: 2rem;
  color: var(--color-black);
}
.popup__close i:hover {
  opacity: 0.5;
}
/* ----------------------------------end popup------------------------ */
